## BIG EXPRESS EDA v1 - 4/5/2022
### ROLL ON EIGHTEEN WHEELERS

In [20]:
# IMPORT LIBRARIES
import numpy as np
import pandas as pd
# import sqlite3    # ONLY IMPORT THIS ONCE FOR A SET OF FILES
from tqdm.notebook import tqdm

In [24]:
jfaults = pd.read_csv('../data/J1939Faults.csv', 
                      dtype={'EquipmentID': str})

In [25]:
jfaults.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000
1,2,990360,2015-02-21 11:34:34.000,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10.000
2,3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26.000
3,4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08.000
4,5,990416,2015-02-21 11:39:41.000,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37.000

In [26]:
jfaults.shape

(1187335, 20)

In [27]:
jfaults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187335 entries, 0 to 1187334
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   RecordID               1187335 non-null  int64
 1   ESS_Id                 1187335 non-null  int64
 2   EventTimeStamp         1187335 non-null  object
 3   eventDescription       1126490 non-null  object
 4   actionDescription      0 non-null        float64
 5   ecuSoftwareVersion     891285 non-null   object
 6   ecuSerialNumber        844318 non-null   object
 7   ecuModel               1122577 non-null  object
 8   ecuMake                1122577 non-null  object
 9   ecuSource              1187335 non-null  int64
 10  spn                    1187335 non-null  int64
 11  fmi                    1187335 non-null  int64
 12  active                 1187335 non-null  bool
 13  activeTransitionCount  1187335 non-null  int64
 14  faultValue             0 non-null        float64
 15  EquipmentID            1187335 non-null  object
 16  MCTNumber              1187335 non-null  int64
 17  Latitude               1187335 non-null  float64
 18  Longitude              1187335 non-null  float64
 19  LocationTimeStamp      1187335 non-null  object
dtypes: bool(1), float64(4), int64(7), object(8)
memory usage: 173.2+ MB

In [28]:
jfaults['EquipmentID'] = jfaults['EquipmentID']\
                            .map(lambda x: x.lstrip('R')\
                                 .rstrip('aAbBcC'))

In [32]:
jfaults['EquipmentID'] = pd.to_numeric(jfaults['EquipmentID'])

In [39]:
# np.where(len(jfaults['EquipmentID']) > 5)
jfaults[jfaults['EquipmentID'] >= 100000]

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
7069,7070,1157485,2015-03-03 09:18:42.000,NaN,NaN,unknown,unknown,unknown,unknown,11,0,0,True,127,NaN,105438416,105438416,35.588148,-86.444027,2015-02-24 14:11:01.000
7070,7071,1157507,2015-03-03 09:19:43.000,Abnormal Update Rate Tire Location,NaN,unknown,unknown,unknown,unknown,49,929,9,True,126,NaN,105438416,105438416,35.588148,-86.444027,2015-02-24 14:11:01.000
59121,61191,2545755,2015-05-21 08:16:17.000,NaN,NaN,04993120*00027785*040213150018*07700044*I0*BBZ*,79464671,6X1u10D1500000000,CMMNS,0,4364,18,True,1,NaN,105393153,105393153,33.340046,-87.019212,2015-05-21 08:19:05.000
59587,61657,2553312,2015-05-21 13:27:44.000,NaN,NaN,04993120*00027785*040213150018*07700044*I0*BBZ*,79464671,6X1u10D1500000000,CMMNS,0,4364,18,True,1,NaN,105393153,105393153,33.339675,-86.925833,2015-05-21 13:27:40.000
60728,62798,2570947,2015-05-22 10:44:37.000,High (Severity Medium) Aftertreatment 1 Intake...,NaN,04993120*00027785*040213150018*07700044*I0*BBZ*,79464671,6X1u10D1500000000,CMMNS,0,3216,16,True,1,NaN,105393153,105393153,33.897731,-87.624629,2015-05-22 10:44:33.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1151754,1208978,107277367,2019-10-23 09:48:05.000,Abnormal Update Rate Engine Total Idle Fuel Used,NaN,NaN,NaN,NaN,NaN,49,236,9,False,1,NaN,105455678,105455678,35.588379,-86.443842,2019-10-23 09:48:00.000
1151759,1208983,107278317,2019-10-23 09:53:52.000,NaN,NaN,5516018*202.56.0*5516502*E003.e003*5539540*25....,Z0082771,EEO-xxF112C,EATON,3,8484,9,True,1,NaN,105455678,105455678,35.588379,-86.443842,2019-10-23 09:54:29.000
1151763,1208987,107278881,2019-10-23 09:57:38.000,NaN,NaN,5516018*202.56.0*5516502*E003.e003*5539540*25....,Z0082771,EEO-xxF112C,EATON,3,8484,9,False,1,NaN,105455678,105455678,35.588379,-86.443842,2019-10-23 09:57:33.000
1176114,1236255,118205869,2020-01-23 16:53:26.000,Low (Severity Medium) Engine Coolant Level,NaN,04384413*22380869*082218154102*60701732*G1*BGT*,80156146,6X1u17D1500000000,CMMNS,0,111,18,False,4,NaN,105411909,105411909,36.135000,-83.290138,2020-01-23 17:00:23.000
1184585,1245709,122439490,2020-02-25 13:09:36.000,Incorrect Data Engine Crankcase Pressure,NaN,04384413*22115065*090617144354*60701715*G1*BGT*,80034544,6X1u17D1500000000,CMMNS,0,101,2,False,1,NaN,105393087,105393087,36.066157,-86.434768,2020-02-21 04:28:01.000

In [40]:
jfaults = jfaults[jfaults['EquipmentID'] < 100000]

In [41]:
jfaults.drop('actionDescription', 
             axis=1, 
             inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [42]:
jfaults.drop('faultValue', 
             axis=1, 
             inplace=True)

In [43]:
jfaults.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,unknown,unknown,unknown,unknown,0,111,17,True,2,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000
1,2,990360,2015-02-21 11:34:34.000,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10.000
2,3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,unknown,unknown,unknown,unknown,11,1807,2,False,127,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26.000
3,4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,unknown,unknown,unknown,unknown,11,1807,2,True,127,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08.000
4,5,990416,2015-02-21 11:39:41.000,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37.000

In [44]:
# TO DO

jfaults_db = sqlite3.connect('../data/J1939Faults.csv')

for chunk in tqdm(pd.read_csv('../data/J1939Faults.csv', 
                              chunksize = 10000)):
    # chunk.columns = [x.lower().replace(' ', '_') for x in chunk.columns]   
    chunk.to_sql('big_g', db, 
                 if_exists = 'append', 
                 index = False)

0it [00:00, ?it/s]

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': file is not a database

In [ ]:
# db.execute('CREATE INDEX average_day_wait ON jfaults(...))')

In [ ]:
# TO DO
jfaults_query = "SELECT * FROM jfaults WHERE EquipmentID <= 5 LIMIT 100"

jfaults_sqlite = pd.read_sql(jfaults_query, jfaults_db)

# jfaults_db.close()